doctype html
html
  head
    title Braintree Recurring Payments Demo (Node SDK)
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery-2.1.3.min.js")
    script(src="/javascripts/bootstrap.min.js")
  body
    block content